//FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
$mainFont: "Poppins", sans-serif;
//GENERIC
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-weight: 300;
}
//COLORS
$color-lemon: #cdde1c;
$color-nav: #393d08;
$color-nav-light: #f9fce1;
$color-bg: #f0f0f0;
$color-bg-light: white;
//MIXIN
@mixin hover-bg($color) {
  &:hover {
    background-color: darken($color, 20%);
    transition: background-color 0.5s linear;
    cursor: pointer;
  }
}
@mixin colunm-flex {
  display: flex;
  flex-direction: column;
}
